In [1]:
import numpy as np
import pandas as pd

method

In [2]:
df2021_ave = pd.read_csv('./Data/2021_2022_Average.csv')

In [3]:
df2021_ave.head()

,Team,GP,MPG,PPG,FGM,FGA,FG%,3PM,3PA,3P%,...,BPG,TOV,PF,Win,Loss,Win%,HG,HGW,HGW%,Attendance
0,Minnesota,82,48.2,115.9,41.6,91.0,0.457,14.8,41.3,0.358,...,5.6,14.3,21.8,46,36,0.561,41,26,0.634,16028
1,Memphis,82,48.2,115.6,43.5,94.4,0.461,11.5,32.7,0.353,...,6.5,13.2,19.8,56,26,0.683,41,30,0.732,15775
2,Milwaukee,82,48.2,115.5,41.8,89.4,0.468,14.1,38.4,0.366,...,4.0,13.4,18.2,51,31,0.622,41,27,0.659,17453
3,Charlotte,82,48.5,115.3,42.8,91.4,0.468,13.9,38.2,0.365,...,4.9,13.3,19.9,43,39,0.524,41,22,0.537,17091
4,Phoenix,82,48.1,114.8,43.7,90.1,0.485,11.6,31.9,0.364,...,4.4,12.9,19.9,64,18,0.780,41,32,0.780,16567

In [11]:
df2021_ave.dtypes

Team           object
GP              int64
MPG           float64
PPG           float64
FGM           float64
FGA           float64
FG%           float64
3PM           float64
3PA           float64
3P%           float64
FTM           float64
FTA           float64
FT%           float64
ORB           float64
DRB           float64
RPG           float64
APG           float64
SPG           float64
BPG           float64
TOV           float64
PF            float64
Win             int64
Loss            int64
Win%          float64
HG              int64
HGW             int64
HGW%          float64
Attendance      int64
dtype: object

In [4]:
df2021_adv = pd.read_csv('./Data/2021_2022_Advanced.csv')

In [8]:
df2021_adv.head()

,Team,TS%,eFG%,Total S%,ORB%,DRB%,TRB%,AST%,TOV%,STL%,BLK%,PPS,FIC40,ORtg,DRtg,eDiff,Poss,Pace
0,Minnesota,0.573,0.539,159.3,24.4,74.9,49.0,61.7,12.4,8.7,11.2,1.3,74.5,114.3,111.7,2.6,"8,316.20",100.9
1,Memphis,0.553,0.522,154.8,30.0,77.8,53.3,59.7,11.2,9.6,12.0,1.2,79.4,114.7,109.0,5.6,"8,268.00",100.3
2,Milwaukee,0.580,0.546,160.9,23.0,78.6,51.4,57.2,11.9,7.6,7.9,1.3,75.0,115.1,111.8,3.3,"8,224.30",99.9
3,Charlotte,0.572,0.544,157.4,23.3,74.8,48.7,65.6,11.6,8.5,9.5,1.3,77.0,114.2,113.7,0.4,"8,284.20",100.0
4,Phoenix,0.581,0.549,164.5,22.3,77.1,50.5,62.7,11.5,8.6,8.1,1.3,77.8,114.8,107.3,7.5,"8,199.00",99.7

In [15]:
regular_2021 = pd.merge(df2021_ave, df2021_adv, how="outer", on=["Team"])

In [16]:
regular_2021.head()

,Team,GP,MPG,PPG,FGM,FGA,FG%,3PM,3PA,3P%,...,TOV%,STL%,BLK%,PPS,FIC40,ORtg,DRtg,eDiff,Poss,Pace
0,Minnesota,82,48.2,115.9,41.6,91.0,0.457,14.8,41.3,0.358,...,12.4,8.7,11.2,1.3,74.5,114.3,111.7,2.6,"8,316.20",100.9
1,Memphis,82,48.2,115.6,43.5,94.4,0.461,11.5,32.7,0.353,...,11.2,9.6,12.0,1.2,79.4,114.7,109.0,5.6,"8,268.00",100.3
2,Milwaukee,82,48.2,115.5,41.8,89.4,0.468,14.1,38.4,0.366,...,11.9,7.6,7.9,1.3,75.0,115.1,111.8,3.3,"8,224.30",99.9
3,Charlotte,82,48.5,115.3,42.8,91.4,0.468,13.9,38.2,0.365,...,11.6,8.5,9.5,1.3,77.0,114.2,113.7,0.4,"8,284.20",100.0
4,Phoenix,82,48.1,114.8,43.7,90.1,0.485,11.6,31.9,0.364,...,11.5,8.6,8.1,1.3,77.8,114.8,107.3,7.5,"8,199.00",99.7

In [17]:
regular_2021.dtypes

Team           object
GP              int64
MPG           float64
PPG           float64
FGM           float64
FGA           float64
FG%           float64
3PM           float64
3PA           float64
3P%           float64
FTM           float64
FTA           float64
FT%           float64
ORB           float64
DRB           float64
RPG           float64
APG           float64
SPG           float64
BPG           float64
TOV           float64
PF            float64
Win             int64
Loss            int64
Win%          float64
HG              int64
HGW             int64
HGW%          float64
Attendance      int64
TS%           float64
eFG%          float64
Total S%      float64
ORB%          float64
DRB%          float64
TRB%          float64
AST%          float64
TOV%          float64
STL%          float64
BLK%          float64
PPS           float64
FIC40         float64
ORtg          float64
DRtg          float64
eDiff         float64
Poss           object
Pace          float64
dtype: object

In [19]:
#check nans for merged dataset and find out no nan values which is super great.
regular_2021.isna().sum()

Team          0
GP            0
MPG           0
PPG           0
FGM           0
FGA           0
FG%           0
3PM           0
3PA           0
3P%           0
FTM           0
FTA           0
FT%           0
ORB           0
DRB           0
RPG           0
APG           0
SPG           0
BPG           0
TOV           0
PF            0
Win           0
Loss          0
Win%          0
HG            0
HGW           0
HGW%          0
Attendance    0
TS%           0
eFG%          0
Total S%      0
ORB%          0
DRB%          0
TRB%          0
AST%          0
TOV%          0
STL%          0
BLK%          0
PPS           0
FIC40         0
ORtg          0
DRtg          0
eDiff         0
Poss          0
Pace          0
dtype: int64

Then after I merged average stats with advanced stats on Team column, there are totally 45 different features. Now we can spend more time take more close look about then one by one since not all of the columns will affect win result:

GP=Total games each team play for the season. Same for every team. (Will drop this column before modeling.)

MPG=Average minutes play per game. The standard MPG would be 48.0 but some of them could be fourty eight point something since there would be overtime for some games. (Will drop this column before modeling.)

PPG=Point per game.Reflect the ability to score the basket.

FGM= Feild goals made per game.

FGA= Feild goals attempts per game.

FG%= Average Feild goals percantage per game.

3PM= 3point Feild goals made per game.

3PA= 3point Feild goals attempts per game.

3P%= 3point Feild goals percantage per game.

FTM= Free throw made per game.

FTA= Free throw attempts per game.

FT%= Free throw percantage per game.

ORB= Offensive Rebound per game

DRB= Denfensive Rebound per game

RPG= Total Rebound per game

APG= Assists per game

SPG= steals per game

BPG= Blocks per game

TOV= Total turnovers per game

PF= Fouls per game

Win= Total games won

Loss= Total games lost

Win%= Win percantage

HG= Total home games

HGW= Total home game won

HGW%= Home game win percantage

Attendance= Average attendance per game

In [6]:
df2021_playoff_ave = pd.read_csv('./Data/2021_2022_Average_Playoff.csv')

In [7]:
df2021_playoff_ave.head()

,Team,GP,MPG,PPG,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,ORB,DRB,RPG,APG,SPG,BPG,TOV,PF
0,Boston,24,48.0,105.5,36.7,81.8,0.449,13.7,36.6,0.373,...,23.2,0.797,9.0,33.9,42.9,24.5,6.4,6.3,14.7,20.7
1,Golden State,22,48.0,111.9,41.4,86.1,0.480,14.0,37.3,0.375,...,19.8,0.766,9.8,34.1,43.9,27.0,7.7,5.0,14.5,21.5
2,Dallas,18,48.0,106.3,36.3,80.8,0.449,15.8,41.5,0.380,...,23.3,0.771,6.5,30.0,36.5,19.2,7.2,2.8,10.2,21.1
3,Miami,18,48.0,104.2,38.0,85.3,0.445,10.9,34.8,0.313,...,21.6,0.804,9.8,31.2,41.1,21.9,8.3,3.7,12.9,21.4
4,Phoenix,13,48.0,107.6,41.2,82.8,0.497,9.8,27.2,0.363,...,18.9,0.817,9.5,30.7,40.2,25.7,6.6,3.8,13.3,22.5

In [9]:
df2021_playoff_adv = pd.read_csv('./Data/2021_2022_Advanced_Playoff.csv')

In [10]:
df2021_playoff_adv.head()

,Team,TS%,eFG%,Total S%,ORB%,DRB%,TRB%,AST%,TOV%,STL%,BLK%,PPS,FIC40,ORtg,DRtg,eDiff,Poss,Pace
0,Boston,0.574,0.533,161.9,21.9,76.9,50.3,66.7,13.8,6.7,11.9,1.3,68.4,110.7,107.0,3.8,"2,287.90",95.3
1,Golden State,0.590,0.561,162.1,23.6,77.5,51.3,65.3,13.3,8.0,10.4,1.3,74.7,115.2,110.0,5.2,"2,137.00",97.1
2,Dallas,0.584,0.546,160.0,15.7,74.7,44.8,52.8,10.1,7.8,5.3,1.3,61.9,114.9,114.1,0.8,"1,666.30",92.6
3,Miami,0.550,0.509,156.3,23.3,79.4,50.4,57.6,12.0,8.9,8.4,1.2,63.0,110.6,106.6,4.1,"1,695.90",94.2
4,Phoenix,0.591,0.557,167.7,24.2,73.8,49.7,62.4,12.7,7.1,7.6,1.3,68.7,115.6,116.7,-1.1,"1,209.90",93.1

# Drop features column

# Train-test split

For the target here,at the beginning, I was thinking about using win numbers, but for some specific season, the total mount of game was not 82 games(For example, NBA had a short season on 2020 because of coronavirus). So I will set the target as win percantage. And X will be all of the stats features.

In [ ]:
X = regular_2021.drop(['Win%'], axis=1)
y = regular_2021.['Win%']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=3)

# Baseline Model

Here create a dummy model served as a baseline modeL, which will be used to compare other models made in the future

In [ ]:
dummy_model = DummyClassifier(strategy="most_frequent")

In [ ]:
X_tr_num = X_train.select_dtypes(include='number')

In [ ]:
X_tr_num

# Decision Tree models

In [ ]:
# Instantiating a default Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
model_de = DecisionTreeClassifier()
model_de.fit(X_train, y_train)
y_pred_de = model0_de.predict(X_test)
print("Training Accuracy :", model0_de.score(X_train, y_train))
print("Testing Accuracy :", model0_de.score(X_test, y_test))

In [ ]:
# Evaluate the classifier
dt0_cv = cross_val_score(model_de, X_train, y_train, cv=5)
dt0_cv.mean()

In [ ]:
print(classification_report(y_test, y_pred_de))

# Random Forest Models

In [ ]:
# Instantiating a default Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
model0 = RandomForestClassifier(random_state=42)
model0.fit(X_train, y_train)
y_pred_rf = model0.predict(X_test)
print("Training Accuracy :", model0.score(X_train, y_train))
print("Testing Accuracy :", model0.score(X_test, y_test))

In [ ]:
# Evaluate the classifier
ran0_cv = cross_val_score(model0, X_train, y_train, cv=5)
ran0_cv.mean()

In [ ]:
print(classification_report(y_test, y_pred_rf))

# More Grid Search